.instructor-profile {
  display: flex;
  align-items: center;
}

.instructor-image {
  border-radius: 50%;
  border: 1px solid #d1d7dc;
  margin-right: 1.5rem;
  height: 8rem;
}

.instructor-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7rem;
  font-size: 90%;
}
