.one-Course-introduction {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  padding-bottom: 0.6rem;
}
