.rating-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.rate {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #b4690e;
}

.stars {
  display: inline-block;
  margin: 0 2%;
}

.star {
  margin: 0;
  position: relative;
  display: inline-block;
  color: #e59819;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #e59819;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  border-bottom: 8px solid #e59819;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -4.5px;
  left: -6.5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: #e59819;
  top: 0.3px;
  left: -10.5px;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #e59819;
  border-left: 10px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.enrolled {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: smaller;
  color: #6a6f73;
}
